.menu_png em{ height:17px; width:37px; float:left; font-size:0; background:url('~@/assets/images/menu.png') no-repeat; margin-right:10px;}
.menu_png em:last-child{ margin-right:0;}
.menu_png span.sck{ float:left; line-height:16px; margin-right:10px;}

.menu_png .default{ background-position:0 0; width:50px}
.menu_png .root{ background-position:-53px 0; width:38px}
.menu_png .page{ background-position:-94px 0; width:26px}
.menu_png .node{ background-position:-123px 0; width:26px;}
.menu_png .top_nav{ background-position:-152px 0; width:62px;}