.org_png em{ height:17px; width:37px; float:left; font-size:0; background:url('~@/assets/images/org.png') no-repeat; margin-right:10px;}
.org_png em:last-child{ margin-right:0;}
.org_png span.sck{ float:left; line-height:16px; margin-right:10px;}

.org_png .tenant{ background-position:0 0; width:26px}
.org_png .group{ background-position:-29px 0; width:26px}
.org_png .company{ background-position:-58px 0; width:26px}
.org_png .dept{ background-position:-87px 0; width:26px;}
.org_png .position{ background-position:-116px 0; width:26px;}